.search{
    position: relative;
    
    &_form{
        display: flex;
        position:absolute;
        right: 25%;
        border: 1px solid #ccc;
        input{
            background-color: #FFF;
            font-size: 1.5rem;
            padding: 0px 15px;
        }
        i{
            background-color: #fff;
            font-size: 2rem;
            padding: 11px 5px;
        }
    }
}