.table-products {
  font-size: 18px;
  margin: 5px 7px;
  background-color: #d9d9d9;
  flex-grow: 1;

  table {
    position: relative;
    width: 100%;
  }
  table, tr, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
  }

  th, td {
    text-align: center;
    padding: 10px 10px;
  }

  button {
    background-color: #ED1D24;
    color: #fff;
    padding: 5px 20px;
    margin: 10px 0;
    border-radius: 5px;
  }

  .footer-page {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px;

    .move-page {
      display: flex;
      align-items: center;

      li {
        padding: 0 10px;
      }
    }
  }

  .box-add {
    position: absolute;
    z-index: 3;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 2px 2px 7px 2px;
    border-radius: 5px;
    padding: 20px;

    .closed {
      text-align: right;

      .icon-closed {
        font-size: 16px;
        border: 1px solid #000;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .input-value {
      border: 1px solid #333;
      margin-left: 20px;
      border-radius: 3px;
    }

    .box-btn {
      text-align: center;

      .btn-box {
        background-color: #ED1D24;
        padding: 5px 10px;
        color: #fff;
        border-radius: 5px;
        margin: 50px 50px;
      }
    }
  }
}