:root {
  --primary-color: #DD0B0B;
  --white: #fff;
  --black: #000;
}

.sign-in {
  text-align: center;
  max-width: 100%;
  width: 480px;
  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000;
  margin: 50px auto;

  .title-sign-in {
    text-align: center;
    padding: 24px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
  }

  .form-sign-in {
    padding: 0 40px;
    
    .label-form {
      text-align: left;
      margin-top: 24px;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: var(--black);
      display: block;

      .note-label {
        color: var(--primary-color);
      }
    }

    .input-account {
      width: 100%;
      border: 1px solid var(--black);
      height: 32px;
      font-size: 14px;
      margin-top: 4px;
      padding: 0 5px;
      background: #FFFFFF;
      border: 0.2px solid rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

    .errors-form {
      padding: 5px 0;
      font-size: 10px;
      opacity: 0.7;
      color: #DD0B0B;
    }

    .save-account {
      display: flex;
      align-items: center;
      margin-top: 20px;

      span {
        padding-left: 5px;
        font-size: 12px;
      }
    }

    .btn-submit {
      color: var(--white);
      background-color: var(--primary-color);
      padding: 8px 18px;
      margin: 24px 0;
      font-size: 14px;
      border-radius: 2px;
    }
  }
}