:root {
  --black-text: #000;
  --white-text: #fff;
  --primary-color: #ED1D24;
}

.content-reviews {
  margin-bottom: 100px;

  .title-container {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--black-text);
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .text-reviews {
    font-size: 24px;
    line-height: 28px;
    color: var(--black-text);
    padding-bottom: 9px;
  }

  .user-vote {
    display: flex;
    font-size: 16px;
    color: #fbbc05;
  }

  .box-reviews {
    margin: 22px 0;
    font-size: 16px;
    padding: 0px 22px 50px;
    line-height: 28px;
    color: #C8BFBF;
    height: 120px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  }

  .clicked {
    color: var(--black-text);
  }

  .btn-submit__content {
    width: 183px;
    height: 44px;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--white-text);
    background-color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}