:root {
  --primary-color: #DD0B0B;
  --black-color: #000;
  --white-color: #fff;
  --grey-color: #666;
}

.contain-page {
  margin: 0 auto;
  width: 1440px;
  max-width: 100%;
  padding: 0 40px 40px;
  
  .info-product {
    display: flex;
    padding: 84px 0px 80px;
  }

  .more-info {
    border-top: 1px solid var(--black-color);

    .nav-more {
      display: flex;

      .active {
        color: var(--primary-color) !important;
        border-top: 3px solid var(--primary-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        padding-top: 8px !important;
      }

      .addition-info {
        padding-top: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--grey-color);
        cursor: pointer;
      }

      .reviews-product {
        padding-top: 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--grey-color);
        margin-left: 20px;
        cursor: pointer;
        
      }
    }
  }
}